<h1>Tiendas</h1>
 
<table>
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th colspan="2"></th>
  </tr>
 
  <% @stores.each do |store| %>
    <tr>
      <td><%= store.name %></td>
      <td><%= store.address %></td>
      <td><%= store.phone %></td>
      <td><%= link_to 'Show', store_path(store) %></td>
      <td><%= link_to 'Edit', edit_store_path(store) %></td>
      <td><%= link_to 'Destroy', destroy_store_path(store), method: :patch,
                    action: 'destroy', data: { confirm: 'Seguro?' } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Nueva Tienda', store_new_path %>