<div class="user">
  <div class="container">
    <div class="form">

    <h1>Nuevo Usuario</h1>
      <% @stores.each do |store| %>
        <p><%= store.name%></p>
      <%end%>

      <%= form_for(@user_new) do |f| %>

        <% if @user_new.errors.any? %>
          <div id="error_explanation">
          <h3>Tienes errores al crear usuario</h3>

          <ul>
        <% @user_new.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
     <% end %>
      <%= f.text_field :name, :placeholder => "Nombre Usuario" %>
      <br>
      <br>
      <%= f.email_field :email, :placeholder => "Email" %>
      <br>
      <br>
      <%= f.password_field :password, :placeholder => "Contrasena" %>
      <br>
      <br>
      <%= f.text_field :cellphone, :placeholder => "Celular" %>
      <br>
      <br>
      <%= f.submit "Crear", class: "btn-submit" %>
    <% end %>

    </div>
  </div>
</div>

